[Unit]
Description=Jellyfin container

[Container]
Image=docker.io/jellyfin/jellyfin:latest
PublishPort=8096:8096
Volume=jellyfin-config:/config
Volume=jellyfin-cache:/cache
Volume=jellyfin-media:/media

[Install]
WantedBy=multi-user.target
