[Unit]
Description=SearXNG container

[Container]
Image=docker.io/searxng/searxng:latest
PublishPort=8080:8080
Environment=BASE_URL=http://searxng.local/

[Install]
WantedBy=multi-user.target
